<h1> <%= @user.first_name %> <%= @user.middle_initial %> <%= @user.last_name %> </h1>
<p></p>



<h3> Loyalty Programs </h3>

<p> <%= @user.loyalty_id %> </p>

<% @user.user_id.each do |loyalty| %>
	<%= @user.loyalty.program %>
<% end %>


